html {font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}

h1,h2,h3,h,h5,h6 { margin: 1em 0; }

strong 	{ font-weight: bold; }
em 		{ font-style: italic; }

/* Basic List Styles */
#content ol, #content ul 	{ margin: 1em 2em; }
#content ul 				{ list-style-type: square; }
#content ol 				{ list-style-type: decimal; }