// width for .container
$w1200: 1200px;
$w1140: 1140px;
$w1000: 1000px;

// highlight
::selection { background:#c5d7eb; color:#3572cb; text-shadow:none; }
::-moz-selection { background:#c5d7eb; color:#3572cb; text-shadow:none; }
::-webkit-selection { background:#c5d7eb; color:#3572cb; text-shadow:none; }

// no margin/padding so use `@extend .zero` to apply on ol, ul for example...
.zero {margin:0;padding:0;}

// WP align
.alignright 			{float: right;}
.alignleft 				{float: left;}
.aligncenter 			{clear: both; margin: 0 25%;}

// if you prefer old fasion way for PHP ;)
.right 	{float: right;}
.left 	{float: left;}
.clear 	{@include clearfix;}

// img will be centered by default without class
.img-right 				{float: right; margin: 0 0 15px 15px;}
.img-left 				{float: right; margin: 0 15px 15px 0;}

// For faster mobile-friendly development, use these utility classes for showing and hiding content by device via media query.
.mobile {
	display: none !important;
	@include max-width(480px) {
		display: block !important;
	}
}

.tablet {
	display: none !important;
	@include max-width(768px) {
		display: block !important;
	}
}

.desktop {
	display: block !important;
	@include max-width(768px) {
		display: none !important;
	}
}

// button
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 2px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	color: $w;
	text-decoration: none;

	@include border-top-radius(6px);
	@include border-bottom-radius(6px);
	@include user-select(none);

}

//WordPress Core
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
	&.alignnone {
		margin: 5px 20px 20px 0;
	}
	&.alignleft {
		margin: 5px 20px 20px 0;
	}
	&.alignright {
		margin: 5px 0 20px 20px;
	}

	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}

	p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}
}

// Text meant only for screen readers.
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.sticky {
	background: #ccc;
}

.gallery-caption {
	font-style: italic;
}

.bypostauthor {
	text-transform: uppercase;;
}
