// write your own mixins

@mixin unformatted-list{
  list-style: none;
  &, li{
    padding: 0;
    margin: 0;
  }
}

@mixin underline-on-hover{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

// use @extend .zero for any div or ul,ol, etc.
@mixin zero {
	margin:0;
	padding:0;
}

//menu mixin
// Generate rules to indent sub menus text
//
// We'll use left border to avoid messing with the padding.
@mixin sm-simple__sub-items-indentation($amount, $chainable: 'ul ', $level: 4, $chain: '') {
	@for $i from 1 through $level {
		$chain: $chain + $chainable;
		#{$chain} a,
		#{$chain} a:hover,
		#{$chain} a:focus,
		#{$chain} a:active {
			border-left: ($amount * ($i + 1)) solid transparent;
		}
	}
}
