// Media query checks for Neat
@mixin max-width($max-width) {
	@media only screen and (max-width: $max-width) { @content; }
}

@mixin min-width($min-width) {
	@media only screen and (min-width: $min-width) { @content; }
}

// Neat grid
@for $i from 1 through 12 {
	.span-#{$i} {
		@include span-columns($i);
		@include max-width(768px) {
			width: 100% !important;
			clear: both;
		}
	}

	.shift-#{$i} {
		@include shift($i);
	}
}

.omega {
	@include omega;
}

// @import "neat/neat-helpers";

/* Neat Breakpoints: https://github.com/thoughtbot/neat#breakpoints */

// Define your breakpoints
/* $desktop: new-breakpoint(min-width 960px);
$tablet: new-breakpoint(min-width 768px max-width 959px);
$mobile-landscape: new-breakpoint(min-width 480px max-width 767px);
$mobile-portrait: new-breakpoint(max-width 767px);
$small-devices: new-breakpoint(max-width 959px); */
